<!DOCTYPE html>
<html lang="en">

</head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title><%= title %> List ✔</title>

    <!-- Favicon -->
    <link rel="icon" href="icons/favicon.ico">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="box-container">
        <div class="text-wrapper">
            <h1 class="title"><%= title %> List</h1>
            <h2><%= date %> <span class="accented"><%= day %></span></h2>
        </div>
    </div>

    <div class="box-container list-wrapper">
        <ul>
            <% todo.forEach(function(item){ %>
                <li>
                    <form class="list-items-form" action="/<%= title %>/check" method="post">
                        <input class="checkbox" id="checkbox" type="checkbox" name="checkbox" value="checkbox" onclick="this.form.submit()">
                        <span class="item"><%= item.value %></span>
                        <input type="hidden" name="itemId" value="<%= item._id %>">
                        <input type="hidden" name="listName" value="<%= title %>">
                    </form>
                </li>
            <% }); %>
        </ul>

        <input type="hidden">

        <form class="new-item-form" action="/<%= title %>" method="post">
            <input type="text" placeholder="New Item" name="newItem" autocomplete="off" autofocus>
            <button class="add-button" type="submit" name="button" value="add">+</button>
            <button class="clear-button" type="submit" name="button" value="clear"><i class="far fa-trash-alt"></i></button>
        </form>

    </div>

    <footer>
        İsmail Sezer Bullalıoğlu &copy; <%= year %>
    </footer>

</body>

</html>